html{
    box-sizing: border-box;
}

body{
    margin: 0;
}

canvas{
    display: block;
    border: 1px solid black;
    margin: 0 auto;
}

img{
    width: 80px;
    height: 80px;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 80px);
    grid-gap: 20px;
}